// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.bg-primary {
    background-color: #74BC1F !important;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid {
    padding-left: 0;
}

.navbar {
    padding: 0;
}

.nav-item {
    margin-right: 1.25em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link {
    border-bottom: 2px solid #fff;
}

.dropdown-item:active {
    background-color: #74BC1F;
}

.post {
    margin-bottom: 2em;
}

.entry-content {
	display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content;
    grid-gap: 1.5em;
    div:nth-child(1) {
        background-color: #74BC1F;
        border-bottom-right-radius: 50vh;
        border-top-right-radius: 50vh;
        padding: 1em 2em;
        p {
            margin-right: 10%;
        }
    }
}

.wp-post-image {
	border-radius: 50%;
}