// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.bg-primary {
    background-color: #66cc00 !important;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid {
    padding-left: 0;
}

.navbar {
    padding: 0;
}

.nav-item {
    margin-right: 1.25em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link {
    border-bottom: 2px solid #fff;
}

.dropdown-item:active {
    background-color: #66cc00;
}